<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.user.UserDAO">
    <insert id="setJoin" parameterType="UserVO">
        INSERT
        INTO USER(ID,PASSWORD,PHONENUMBER,EMAIL,ROLE,NICKNAME,USERNAME,GENDER,JOINDATE,BIRTH)
        VALUES(#{id},#{password},#{phoneNumber},#{email},'ROLE_MEMBER',#{nickName},#{userName},#{gender},CURRENT_DATE,#{birth})
    </insert>

    <select id="getLogin" parameterType="UserVO" resultType="UserVO" >
        SELECT *
        FROM USER
        WHERE id=#{id}
    </select>

    <select id="getWishList" parameterType="WishListVO" resultType="WishListVO">
        SELECT

    </select>
<!--    <insert id="setWishList" parameterType="WishListVO">-->
<!--        INSERT INTO WISHLIST (ID,TITLE)-->
<!--        VALUES (#{id},#{title});-->
<!--    </insert>-->
</mapper>