<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.user.UserDAO">
    <insert id="setJoin" parameterType="UserVO">
        INSERT
        INTO USER(ID,PASSWORD,PHONENUMBER,EMAIL,ROLE,NICKNAME,USERNAME,GENDER,JOINDATE,BIRTH)
        VALUES(#{id},#{password},#{phoneNumber},#{email},'ROLE_MEMBER',#{nickName},#{userName},#{gender},CURRENT_DATE,#{birth})
    </insert>

    <select id="getLogin" parameterType="UserVO" resultType="UserVO" >
        SELECT *
        FROM USER
        WHERE id=#{id}
    </select>

    <select id="getWishList" parameterType="WishListVO" resultMap="WishListResultMap">
        SELECT s.TITLE, s.SUBDIVISION, s.IMAGE ,st.URL , st.ADDRESS
        FROM WISHLIST W
        JOIN STORE S ON w.TITLE = s.TITLE
        JOIN STORETABLE ST ON w.TITLE = st.TITLE
        WHERE w.ID = #{id}
    </select>
<!--    유저 정보 가져오기 -->
    <select id="getUserInfo" parameterType="String" resultType="UserVO">
        SELECT *
        FROM USER
        WHERE id=#{id}
    </select>

    <resultMap id="WishListResultMap" type="WishListVO">
        <id column="title" property="title"/>
        <result column="id" property="id"/>
        <association property="storeVOS" javaType="StoreVO">
            <id column="title" property="title"/>
            <result column="subdivision" property="subdivision"/>
            <result column="image" property="image"/>
        </association>
        <association property="storeTableVOS" javaType="StoreTableVO">
            <id column="title" property="title"/>
            <result column="url" property="url"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>




</mapper>